html,
body,
#app {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

#app {
  display: flex;
  justify-content: center;
  align-items: center;
}

#app > div {
  width: 100%;
  aspect-ratio: 800 / 600;
}
@media (min-aspect-ratio: 800/600) {
  #app > div {
    width: unset;
    height: 100%;
  }
}
